main {
    border: 3px solid blue;
    position: relative;
    padding: 0 7%;
    display: block;
}

.post-card, .post-feed{
    position: relative;
    display: flex;
}

.post-card {
    flex: 1 1 301px;
    flex-direction: column;
    overflow: hidden;
    margin: 0 0 40px;
    padding: 0 20px 40px;
    min-height: 220px;
    border-bottom: 1px solid #eaeff1;
    background-size: cover;
}

@media only screen and (min-width: 900px){
    .post-card-large {
        flex: 1 1 100%;
        flex-direction: row;
        padding-bottom: 40px;
        min-height: 280px;
        border-top: 0;
    }  

    .post-card-large .post-card-content {
        flex: 0 1 361px;
        justify-content: center;
    }

    .post-card-large .post-card-image-link {
        position: relative;
        flex: 1 1 auto;
        margin-bottom: 0;
        min-height: 380px;
    }

}

.post-feed {
    flex-wrap: wrap;
    padding: 40px 0 5vw;
}

article.post-card {
    border: 2px solid green;
}

.post-card-image-link {
    height: 200px;
    max-width: 680px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;   
}

.post-card-image {
    width: 100%;

    object-fit: cover;
}

.post-card-excerpt p {
    color: rgb(96, 96, 96);
    line-height: 1.5em;    
}



.post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post-card-meta {
    display: flex;
    align-items: flex-start;
}



.post-card-large .post-card-content-link,
.post-card-large .post-card-meta {
    padding: 0 0 0  40px;
}