@import "style_header.css";
@import "style_main.css";
@import "style_footer.css";

* {
    font-family: Helvetica, Arial, sans-serif;
    opacity: 1;
    box-sizing: border-box;
    z-index: 100;
    list-style-type: none;
  }

body {
    margin: 0;
}

ul a, ul a:hover, ul a:active, ul a:visited, ul a:focus {
    text-decoration: none;
    color: wheat;
}