* {
    font-family: Helvetica, Arial, sans-serif;
    opacity: 1;
    box-sizing: border-box;
    z-index: 100;
  }

body {
    margin: 0;
}

/*================= header =====================*/

header.site-home-header {
    display: block;
    position: relative;
    align-items: center;
    border: 3px solid blue;
    background-color: lightblue;
    height: 18em;
    z-index: 1000;

}

nav.site-nav {
    width: 100%;
    border: 2px solid green;
}

div.outer.site-nav-main {
    width: 100%;
    background-color: lightgreen;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}


ul.nav {
    width: 40%;
    border: 1px solid goldenrod;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

div.site-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    margin: 10vh 0;

}

h2.site-description {
    font-size: 18px;
}

/*================= main =====================*/

main {
    border: 3px solid blue;
    position: relative;
    padding: 0 7%;
    display: block;
}

.post-card, .post-feed{
    position: relative;
    display: flex;
}

.post-card {
    flex: 1 1 301px;
    flex-direction: column;
    overflow: hidden;
    margin: 0 0 40px;
    padding: 0 20px 40px;
    min-height: 220px;
    border-bottom: 1px solid #eaeff1;
    background-size: cover;
}


.post-card-large {
    flex: 1 1 100%;
    flex-direction: row;
}


.post-feed {
    flex-wrap: wrap;
    padding: 40px 0 5vw;
}


article.post-card {
    border: 2px solid green;
}


/*================= footer =====================*/

footer.site-footer {
    border: 3px solid blue;
}

section.copyright, nav.site-footer {
    border: 2px solid green;
}