* {
    font-family: Helvetica, Arial, sans-serif;
    opacity: 1;
    box-sizing: border-box;
  }

body {
    margin: 0;
}

main {
    padding: 0 5%;
}

header.site-home-header {
    display: block;
    align-items: center;
    border: 3px solid blue;
    background-color: lightblue;
    height: 18em;

}


nav.site-nav {
    width: 100%;
    border: 2px solid green;
}


ul.nav {
    width: 40%;
    border: 1px solid goldenrod;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}



div.site-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    margin: 10vh 0;



}

h2.site-description {
    font-size: 18px;
}




main {
    border: 3px solid blue;
}

article.post-card {
    border: 2px solid green;
}


footer.site-footer {
    border: 3px solid blue;
}

section.copyright, nav.site-footer {
    border: 2px solid green;
}